#magic-square-example {
  display: none;
  float: right;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background: #ffffde;
  box-shadow: 0.1em 0.2em 0.8em #ddd;
  border: 0.1em solid #ddd;
  border-top-color: #eee;
  border-radius: 0.2em;
  margin: 0.5em 0.5em 0 0;
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}

#eight-queens-example {
  display: none;
  float: right;
  background: rgb(181, 136, 99);
  margin-top: 34em;
  margin-right: 1em;
  box-shadow: 0 0 0.5em #ddd;
  border: 0.1em solid #ddd;
  cursor: pointer;
  border-radius: 0.1em;
}

#knights-tour-example {
  display: none;
  float: right;
  background: rgb(181, 136, 99);
  margin-top: 30em;
  margin-right: 1.5em;
  box-shadow: 0 0 0.5em #ddd;
  border: 0.1em solid #ddd;
  cursor: pointer;
  border-radius: 0.1em;
}

#subset-sum-example {
  display: none;
  float: right;
  background: white;
  box-shadow: 0.1em 0.2em 0.8em #ddd;
  border: 0.1em solid #ddd;
  border-top: 0;
  cursor: pointer;
  border-radius: 0.1em;
  -ms-transform: rotate(1.5deg);
  -webkit-transform: rotate(1.5deg);
  transform: rotate(1.5deg);
}

.paperclip {
  position: absolute;
  width: 16px;
  right: 275px;
  margin-top: -4px;
  z-index: 1;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  display: none;
}
