html {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.main {
  padding: 2.5em;
  width: 62.5em;
}

a {
  color: #1017CA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

header {
  font-family: 'Athiti', sans-serif;
  font-size: 2.5em;

  p {
    font-weight: 200;
  }

  h3 {
    font-weight: 400;
  }

  a {
    color: black;
  }
}

nav {
  float: left;
  margin-top: 2.5em;

  h4 {
    font-weight: 400;
    cursor: pointer;

    &::before {
      content: "> ";
    }
  }

  a {
    color: black;
  }

  ul {
    list-style-type: disc;
    line-height: 1.4em;
    margin: 1.5em;
    color: #666;

    a.current {
      background: #ffc;
    }
  }
}

.js nav {
  display: none;

  ul li {
    display: none;
  }
}

section {
  margin-left: 20em;
  margin-top: 2.5em;
  padding-left: 2.5em;
  width: 40em;
  border-left: 0.1em dashed gray;
  position: relative;

  h1 {
    font-size: 1.5em;
    font-family: 'Athiti', sans-serif;
    font-weight: 400;
  }

  h2 {
    font-family: 'Athiti', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 2em;
    text-decoration: underline;
  }

  h5 {
    font-family: Consolas, Menlo, monospace;
    margin-top: 4em;
  }

  p {
    line-height: 1.4em;
    margin: 2em 0;
  }

  ul {
    line-height: 2em;
    margin: 2em 0;
  }

  blockquote {
    line-height: 1.4em;
    margin: 2em 0;
    border-left: 0.5em solid rgba(0, 0, 0, 0.2);
    padding-left: 1em;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
  }

  pre {
    font-size: 0.8em;
    line-height: 1.2;
    padding: 0.8em;
  }
}

.clearfix {
  clear: both;
}

footer {
  color: #ccc;
  border-top: 0.1em solid #eee;
  margin-top: 6em;
  padding-top: 2em;
  display: none;

  a {
    color: #ccc;
  }

  p {
    margin-left: 22.5em;
  }
}

@media only screen and (max-width: 72em) {
  .github-corner {
    display: none;
  }
}
