<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Athiti:400,200|Open+Sans:300,300italic,400,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <div class="main">
      <header>
        <p>{{ page.header }}</p>
        <h2><a href="{{ site.baseurl }}/">Sentient Lang.</a></h2>
      </header>

      <nav>
        <h4>Overview</h4>
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
        </ul>

        <h4>Getting started</h4>
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
        </ul>

        <h4>Language reference</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/reference/syntax">Syntax</a></li>
          <li><a href="{{ site.baseurl }}/reference/boolean">Boolean</a></li>
          <li><a href="{{ site.baseurl }}/reference/integer">Integer</a></li>
          <li><a href="{{ site.baseurl }}/reference/array">Array</a></li>
        </ul>
      </nav>

      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>
