<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Athiti:400,200|Open+Sans:300,300italic,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <script>document.body.className="js";</script>

    <div class="main">
      <header>
        <p>{{ page.header }}</p>
        <h3><a href="/">Sentient Lang.</a></h3>
      </header>

      <nav>
        <h4>What is Sentient?</h4>
        <ul>
          <li><a href="/">Introduction</a></li>
          <li><a href="/intro/high-level">High-level</a></li>
          <li><a href="/intro/declarative">Declarative</a></li>
          <li><a href="/intro/experimental">Experimental</a></li>
        </ul>

        <h4>How does it work?</h4>
        <ul>
          <li><a href="https://sentient-lang.github.io/sentient-lang/examples/executionModel/">Execution model</a></li>
          <li><a>Coming soon...</a></li>
        </ul>

        <h4>Example programs</h4>
        <ul>
          <li><a href="/examples/hello-world">Hello, world!</a></li>
          <li><a href="/examples/magic-square">Magic square</a></li>
          <li><a href="/examples/eight-queens">Eight queens</a></li>
          <li><a href="/examples/self-enumerating-pangram">Self-enumerating pangram</a></li>

          <!-- TODO: re-write these examples on this site -->
          <li><a href="http://sentient-lang.github.io/sentient-lang/examples/subsetSum/">Subset sum</a></li>
          <li><a href="http://sentient-lang.github.io/sentient-lang/examples/threeColour/">Three-colour numbers</a></li>
          <li><a href="http://mudge.name/sentient-isbn/">Book numbers</a></li>

        </ul>

        <h4>Getting started</h4>
        <ul>
          <li><a href="/tutorial/introduction">Introduction</a></li>
          <li><a href="/tutorial/installation">Installing Sentient</a></li>
          <li><a href="/tutorial/browser">Running in a Browser</a></li>
          <li><a href="/tutorial/cli">Command-line interface</a></li>
          <li><a href="/tutorial/hello">Hello, world!</a></li>
          <li><a href="/tutorial/breakdown">Program breakdown</a></li>
          <li><a href="/tutorial/multiple">Multiple solutions</a></li>
          <li><a href="/tutorial/assigning">Assigning variables</a></li>
          <li><a href="/tutorial/precompiling">Pre-compiling</a></li>
          <li><a href="/tutorial/next">Next steps</a></li>
        </ul>

        <h4>Language syntax</h4>
        <ul>
          <li><a href="/syntax/overview">Overview</a></li>
          <li><a href="/syntax/assignment">Assignment</a></li>
          <li><a href="/syntax/expression">Expression</a></li>
          <li><a href="/syntax/declaration">Declaration</a></li>
          <li><a href="/syntax/exposure">Exposure</a></li>
          <li><a href="/syntax/invariant">Invariant</a></li>
          <li><a href="/syntax/function">Function</a></li>
          <li><a href="/syntax/conditional">Conditional</a></li>
          <li><a href="/syntax/comment">Comment</a></li>
        </ul>

        <h4>Standard library</h4>
        <ul>
          <li><a href="/library/overview">Overview</a></li>
          <li><a href="/library/boolean">Boolean methods</a></li>
          <li><a href="/library/integer">Integer methods</a></li>
          <li><a href="/library/array">Array methods</a></li>
          <li><a href="/library/literals">Literals</a></li>
        </ul>

        <h4>Command-line interface</h4>
        <ul>
          <li><a href="/cli/overview">Overview</a></li>
          <li><a href="/cli/usage">Basic usage</a></li>
          <li><a href="/cli/help">--help</a></li>
          <li><a href="/cli/version">--version</a></li>
          <li><a href="/cli/compile">--compile</a></li>
          <li><a href="/cli/optimise">--optimise</a></li>
          <li><a href="/cli/run">--run</a></li>
          <li><a href="/cli/source">--source</a></li>
          <li><a href="/cli/exposed">--exposed</a></li>
          <li><a href="/cli/assign">--assign</a></li>
          <li><a href="/cli/assign-file">--assign-file</a></li>
          <li><a href="/cli/number">--number</a></li>
          <li><a href="/cli/machine">--machine</a></li>
          <li><a href="/cli/info">--info</a></li>
          <li><a href="/cli/debug">--debug</a></li>
        </ul>

        <h4>JavaScript API</h4>
        <ul>
          <li><a href="/api/overview">Overview</a></li>
          <li><a href="/api/compile">Sentient.compile</a></li>
          <li><a href="/api/run">Sentient.run</a></li>
          <li><a href="/api/source">Sentient.source</a></li>
          <li><a href="/api/exposed">Sentient.exposed</a></li>
          <li><a href="/api/logger">Sentient.logger</a></li>
          <li><a href="/api/info">Sentient.info</a></li>
        </ul>

        <h4>Supported Solvers</h4>
        <ul>
          <li><a href="/solvers/overview">Overview</a></li>
          <li><a href="/solvers/minisat">MiniSat</a></li>
          <li><a href="/solvers/riss">Riss</a></li>
          <li><a href="/solvers/lingeling">Lingeling</a></li>
        </ul>
      </nav>

      <script>
        var SentientWebsite = { modulesToLoad: [], loadSentient: false };
      </script>

      <section>
        {{ content }}
      </section>

      <div class="clearfix"></div>
      <footer>
        <p>
        Copyright &copy; 2016,
        <a href="https://twitter.com/cpatuzzo">Chris Patuzzo</a>,
        MIT License
        </p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
  </body>
</html>
