<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Athiti:400,200|Open+Sans:300,300italic,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <script>document.body.className="js";</script>

    <div class="main">
      <header>
        <p>{{ page.header }}</p>
        <h3><a href="{{ site.baseurl }}/">Sentient Lang.</a></h3>
      </header>

      <nav>
        <h4>What is Sentient?</h4>
        <ul>
          <li><a href="#what">Coming soon...</a></li>
        </ul>

        <h4>How does it work?</h4>
        <ul>
          <li><a href="#how">Coming soon...</a></li>
        </ul>

        <h4>Example programs</h4>
        <ul>
          <!-- TODO: re-write these examples on this site -->
          <li><a href="http://sentient-lang.github.io/sentient-lang/examples/subsetSum/">Subset sum</a></li>
          <li><a href="http://sentient-lang.github.io/sentient-lang/examples/threeColour/">Three-colour numbers</a></li>
          <li><a href="http://mudge.name/sentient-isbn/">ISBN</a></li>
        </ul>

        <h4>Getting started</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/tutorial/introduction">Introduction</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/installation">Installing Sentient</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/browser">Running in a Browser</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/cli">Command-line interface</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/hello">Hello, world!</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/breakdown">Program breakdown</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/multiple">Multiple solutions</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/assigning">Assigning variables</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/precompiling">Pre-compiling</a></li>
          <li><a href="{{ site.baseurl }}/tutorial/next">Next steps</a></li>
        </ul>

        <h4>Language syntax</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/syntax/overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/syntax/assignment">Assignment</a></li>
          <li><a href="{{ site.baseurl }}/syntax/expression">Expression</a></li>
          <li><a href="{{ site.baseurl }}/syntax/declaration">Declaration</a></li>
          <li><a href="{{ site.baseurl }}/syntax/exposure">Exposure</a></li>
          <li><a href="{{ site.baseurl }}/syntax/invariant">Invariant</a></li>
          <li><a href="{{ site.baseurl }}/syntax/function">Function</a></li>
          <li><a href="{{ site.baseurl }}/syntax/conditional">Conditional</a></li>
          <li><a href="{{ site.baseurl }}/syntax/comment">Comment</a></li>
        </ul>

        <h4>Standard library</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/library/overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/library/boolean">Boolean methods</a></li>
          <li><a href="{{ site.baseurl }}/library/integer">Integer methods</a></li>
          <li><a href="{{ site.baseurl }}/library/array">Array methods</a></li>
          <li><a href="{{ site.baseurl }}/library/literals">Literals</a></li>
        </ul>

        <h4>Command-line interface</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/cli/overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/cli/usage">Basic usage</a></li>
          <li><a href="{{ site.baseurl }}/cli/help">--help</a></li>
          <li><a href="{{ site.baseurl }}/cli/version">--version</a></li>
          <li><a href="{{ site.baseurl }}/cli/compile">--compile</a></li>
          <li><a href="{{ site.baseurl }}/cli/optimise">--optimise</a></li>
          <li><a href="{{ site.baseurl }}/cli/run">--run</a></li>
          <li><a href="{{ site.baseurl }}/cli/source">--source</a></li>
          <li><a href="{{ site.baseurl }}/cli/exposed">--exposed</a></li>
          <li><a href="{{ site.baseurl }}/cli/assign">--assign</a></li>
          <li><a href="{{ site.baseurl }}/cli/assign-file">--assign-file</a></li>
          <li><a href="{{ site.baseurl }}/cli/number">--number</a></li>
          <li><a href="{{ site.baseurl }}/cli/machine">--machine</a></li>
          <li><a href="{{ site.baseurl }}/cli/info">--info</a></li>
          <li><a href="{{ site.baseurl }}/cli/debug">--debug</a></li>
        </ul>

        <h4>JavaScript API</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/api/overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/api/compile">Sentient.compile</a></li>
          <li><a href="{{ site.baseurl }}/api/run">Sentient.run</a></li>
          <li><a href="{{ site.baseurl }}/api/source">Sentient.source</a></li>
          <li><a href="{{ site.baseurl }}/api/exposed">Sentient.exposed</a></li>
          <li><a href="{{ site.baseurl }}/api/logger">Sentient.logger</a></li>
          <li><a href="{{ site.baseurl }}/api/info">Sentient.info</a></li>
        </ul>

        <h4>Supported Solvers</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/solvers/overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/solvers/minisat">MiniSat</a></li>
          <li><a href="{{ site.baseurl }}/solvers/riss">Riss</a></li>
          <li><a href="{{ site.baseurl }}/solvers/lingeling">Lingeling</a></li>
        </ul>
      </nav>

      <script>
        var SentientWebsite = { modulesToLoad: [], loadSentient: false };
      </script>

      <section>
        {{ content }}
      </section>

      <footer>
        <p>Copyright &copy; 2016, Sentient Lang.</p>
      </footer>

      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
      <script src="{{ site.baseurl }}/script.js"></script>
    </div>
  </body>
</html>
